<!--This is for the Admin menu
    glyphicons can be found on the bootstrap website getbootstrap.com
    class=" glyphicon glyphicon glyphicon-circle-arrow-down (makes a down arrow)
    &nbsp(adds spaces)
    The divder class will created a divider between the obects.
    -->

<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class=" glyphicon glyphicon glyphicon-circle-arrow-down "></span>
    </a>
    <ul class="dropdown-menu">
        <li class=" divider"></li>
        <li><a href="/MembershipType">&nbsp;&nbsp;Membership</a></li>
        <li><a href="/Genre">&nbsp;&nbsp;Genre</a></li>
        <li class=" divider"></li>
        <li><a href="/Book">&nbsp;&nbsp;Book</a></li>
        <li><a href="/Customer">&nbsp;&nbsp;Customer</a></li>
        <li class=" divider"></li>

    </ul>
</li>
