<!--Then add a button, which come from bootstrap,
    Then make a glyphicon that add an icon.
    -->

<!--Create a button-->
 
    <a type="submit" class="btn btn-primary btn-sm" href=" @Url.Action("Index")"><!--We want this button to go the Index View -->
   <span class=" glyphicon glyphicon-list"></span><!--glyphicon-list makes a list icon-->
<span>Back To List</span>
    </a>
