<!--Then add a button, which come from bootstrap,
    Then make a glyphicon that add an icon.
    -->
<!--href=" @@Url.Action("Create")The Action()  "Create" is is called for this button below.
   A method need to be created for the Create button, so an ActionResult method need to be made
    in the GenreController.cs-->


<!--I copied this button and put it into the IndividualButtonPartial page.-->
<a type="button" class="btn btn-primary btn-sm" href=" @Url.Action("Create")">
    <span class=" glyphicon glyphicon-plus"></span>
    <span>Create New</span>
</a>
