@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>

        <img src="~/Content/Images/blur-book-stack-bookcase-256517.png.jpg" alt="" style=" border-image-outset: 500px;
        height: 500px" />

    </div>
</div>