<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ecdf9005-bdc4-4080-b774-a887d53d2055/resourcegroups/donnyves/providers/Microsoft.Web/sites/CollegeBookRentalDonnyves</ResourceId>
    <ResourceGroup>donnyves</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://collegebookrentaldonnyves.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>collegebookrentaldonnyves.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CollegeBookRentalDonnyves</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CollegeBookRentalDonnyves</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:donnyves.database.windows.net,1433;Initial Catalog=aspnet-CollegeBookStore;Persist Security Info=False;User ID=donnyves;Password=do12nn17ASD;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:donnyves.database.windows.net,1433;Initial Catalog=aspnet-CollegeBookStore;Persist Security Info=False;User ID=donnyves;Password=do12nn17ASD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CollegeBookRental.Models.ApplicationDbContext, CollegeBookRental" MigrationConfiguration="CollegeBookRental.Migrations.Configuration, CollegeBookRental" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EFDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path=" Server=tcp:donnyves.database.windows.net,1433;Initial Catalog=aspnet-CollegeBookStore;Persist Security Info=False;User ID=donnyves;Password=******;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue=" Server=tcp:donnyves.database.windows.net,1433;Initial Catalog=aspnet-CollegeBookStore;Persist Security Info=False;User ID=donnyves;Password=******;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:donnyves.database.windows.net,1433;Initial Catalog=aspnet-CollegeBookStore;Persist Security Info=False;User ID=donnyves;Password=do12nn17ASD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>